lisa/*
.idea/*
build/*
dist/*
*.egg-info/*
docs/build/*
*__pycache__*
models/*
modelsgrid/*
modelsadd/*
data/ner/*
data/voc/*
runs/*
sacrebleu/*
sbatch/*
srunz/*
print_debug/*
print_debug/
print_debug
test/data/*
wmt_ende_best/*
wmt*

